.project
bowtie2-align
bowtie2-build
bowtie2-inspect
*.zip
*.bt2
*.bt2l
*.dSYM
*.pyc
*.swp
.run.pl.child.*
.simple_tests*
.idea
bowtie2-build-s
bowtie2-build-l
bowtie2-align-s
bowtie2-align-l
bowtie2-inspect-s
bowtie2-inspect-l
bowtie2-build-s-debug
bowtie2-build-l-debug
bowtie2-align-s-debug
bowtie2-align-l-debug
bowtie2-inspect-s-debug
bowtie2-inspect-l-debug
bowtie2-build-s-sanitized
bowtie2-build-l-sanitized
bowtie2-align-s-sanitized
bowtie2-align-l-sanitized
bowtie2-inspect-s-sanitized
bowtie2-inspect-l-sanitized
Xcode
reads_*.fq
reads_*.sam
