sudo: required
language: c++
compiler:
- clang
- gcc
cache: apt
addons:
  apt:
    packages:
    - libtbb-dev
    - zlib1g-dev
branches:
  only:
  - master
  - cleaner_parsing
  - scaling-old-parsing
  - batch_parsing
  - batch_parsing_output
  - blocked_input
  - bug_fixes
matrix:
  include:
  # aarch64 - ARM 64-bit
  - arch: arm64
    compiler: gcc
    env:
    # Suppress warnings to see the Travis log easily.
    - CXXFLAGS="-Wno-deprecated-declarations -Wno-misleading-indentation -Wno-narrowing -Wno-unused-function -Wno-unused-result"
    # Set POPCNT_CAPABILITY=0 to avoid a build error.
    # NO_TBB=1 possibly saves the running time.
    - POPCNT_CAPABILITY=0
    before_script:
    # Ping stdout every 9 minutes or Travis kills build,
    # as travis_wait does not show the command output while processing.
    # https://docs.travis-ci.com/user/common-build-problems/#build-times-out-because-no-output-was-received
    - |
      while sleep 9m; do
          echo "====[ $SECONDS seconds still running ]===="
      done &
    # Run "make all" to save the running time.
    script: make -s -j 4 all
script: make allall && make simple-test
notifications:
  slack:
    secure: tfzT8N1fNV+oSV7tide9WrAj3ifs+LONJ3fCH1tUzexqrx23te4lE0oAj9C1cEMJ4evyRYwHNG8HZoLCOy8EfapqbWm6vgLIlkIBpeZ9E6f2jG6v0YuVDWWpqQC3qdGXCqWtHPjgs3i5OLsLwwQ/LItLoTqpBk2aYv+vGNs2F9g=
